
@{
    ViewBag.Title = "购买失败";
}

<div class="all-product-grid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="order-placed-dt">
                    <i class="uil uil-times-circle icon-circle"></i>
                    <h2>购买失败</h2>
                    <div class="delivery-address-bg">
                        <div class="title585">
                            <div class="pln-icon"><i class="uil uil-annoyed"></i></div>
                            <h4>请确认个人信息！</h4>
                        </div>
                        <div class="placed-bottom-dt">
                            请将个人信息完善后再进行购买
                        </div>
                        <a href="@Url.Content("~/Address")" class="print-btn hover-btn" style="margin-left:42%;margin-bottom:15px">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

