
@{
    ViewBag.Title = "注册";
}

<div class="form-dt" style="margin-top:100px;">
    <div class="form-inpts checout-address-step">
        <div class="form-title"><h6>欢迎加入我们！</h6></div>
        <div class="col-md-6" style="margin:10px 0;padding-left:0px;">
            <a href="@Url.Content("~/SignUp/Member")" class="Sign_mem_btn hover-btn">注册会员</a>
        </div>
        <div class="col-md-6" style="margin:10px 0;padding-right:0px;">
            <a href="@Url.Content("~/SignUp/SellerDir")" class="Sign_sell_btn seller_hover_btn">我要开店</a>
        </div>
        <div class="signup-link" style="margin-top:150px;">
            <p>已有账户？ - @Html.ActionLink("登录", "Index", "Login")</p>
        </div>
    </div>
</div>